<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <span> Model Component </span>
        <button id="btn" class="btn"> Open Model </button>
    </div>

    <div id="model" class="model">
        <div class="modelcontainer">
            <div class="modeldetails">
                <h1>Modal</h1>
                <span id="close" class="close">&#x2716;</span>
                <hr />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero cupiditate iste labore quaerat
                    incidunt. Error ipsam libero officia laboriosam est, adipisci repellendus praesentium fuga nulla
                    doloribus asperiores consequatur quae quod! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Commodi molestias quos nesciunt doloribus? Labore enim soluta aut, inventore dolorum necessitatibus
                    vitae quidem iusto at in quis eveniet modi accusamus hic impedit rerum ipsam similique repellendus
                    animi eligendi? Iusto obcaecati iure inventore omnis corrupti alias incidunt voluptate dicta quasi
                    amet!</p>
            </div>
        </div>
    </div>
    <script src="./index.js"></script>
</body>

</html>